API_ID = "8d242ebf776e7d3c487b97cf3951cb9c" # Get it by creating an app on https://my.telegram.org
API_HASH = "27284732" # Get it by creating an app on https://my.telegram.org
BOT_TOKEN = "7178328462:AAGxoLf3bjq_Fib0CJINPUDAYAaZXHA_dvM" # Get it by creating a bot on https://t.me/BotFather
SUDO_USERS = "5911422304" # List of sudo user's id, separated by space.
DOWNLOAD_DIR = "" # Download directory where to download files. Must ends with forward slash > / <
